<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>訓練課程 6 表單驗證</title>
        <!--use bootstrap framework -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <h:outputStylesheet library="css" name ="forms.css" />
        
    </h:head>
    <h:body>
        <ui:debug hotkey="x" />
        <f:event listener="#{bookEntryBean.processEvent}" type="postValidate" />
        <div class="container">
            <h1>訓練課程 6 表單驗證</h1>
            <a href="#"> 訓練課程 6 教學文件</a>
            <!-- Content here -->
            <h:form>
                <h2>課程資料</h2>
                <div class="form-group">
                    <h:outputLabel for="college">學院</h:outputLabel>
                    <h:inputText class="form-control" id="college" 
                                 value="#{bookEntryBean.book.college}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="department">科系</h:outputLabel>
                    <h:inputText class="form-control" id="department"
                                 value = "#{bookEntryBean.book.department}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="teacher">任課教師</h:outputLabel>
                    <h:inputText class="form-control" id="teacher"
                                 value = "#{bookEntryBean.book.teacher}"/>
                </div>
                <h2>書藉資料</h2>
                <div class="form-group">
                    <h:outputLabel for="book_title">書名</h:outputLabel>
                    <h:inputText class="form-control isValid" id="book_title" 
                                 value="#{bookEntryBean.book.title}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="isbn">ISBN</h:outputLabel>
                    <h:inputText class="form-control" id="isbn" 
                                 ps:placeholder="長度 13 碼" 
                                 validatorMessage="長度不足 13 碼"
                                 value="#{bookEntryBean.book.isbn}"
                                 binding="#{isbnComp}"
                                 styleClass="form-control 
                                 #{(isbnComp.valid and bookEntryBean.isFormSubmitted) ? 'is-valid' : ''}
                                 #{!isbnComp.valid? 'is-invalid': ''}">
                        <f:validateLength minimum="13" maximum="13" />
                    </h:inputText>
                    <h:message for="isbn" errorClass="errorMsg"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="sell_price">售價</h:outputLabel>
                    <h:inputText class="form-control" id="sell_price"  
                                 ps:placeholder="0~9999"
                                 validatorMessage="售價應介於 0~9999"
                                 value="#{bookEntryBean.book.sellPrice}"
                                 binding="#{sellPrice}"
                                 styleClass="form-control 
                                 #{(sellPrice.isValid() and bookEntryBean.isFormSubmitted) ? 'is-valid' : ''}
                                 #{!sellPrice.valid? 'is-invalid': ''}">
                        <f:validateLongRange minimum="0" maximum="9999"/>
                    </h:inputText>
                    <h:outputText value="#{sellPrice.isValid()}"/>
                    
                    <h:message for="sell_price" errorClass="errorMsg" 
                               styleClass="#{sellPrice.isValid()? 'is-valid' : 'is-invalid'}"/>
                </div>
                
                書況 (未套用 Bootstrap CSS)
                <h:selectOneRadio value="#{bookEntryBean.book.status}">
                   <f:selectItem itemLabel="A 級" itemValue="A" />
                   <f:selectItem itemLabel="B 級" itemValue="B" />
                   <f:selectItem itemLabel="C 級" itemValue="C" />
               </h:selectOneRadio>

                <h:commandButton class="btn btn-primary" value="Submit">
                    <f:setPropertyActionListener  target="#{bookEntryBean.isFormSubmitted}" value="true" />
                </h:commandButton>
                <h:outputText value="Form Status: #{bookEntryBean.isFormSubmitted? 'Submitted': 'Not Submitted'}"/>
            </h:form>
        </div>
        <!--bootstrap js libraries-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </h:body>
</html>

