<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>課表查詢結果</title>
    </h:head>
    <h:body>
        學年度: #{classTableQueryParameters.schoolYear} <br/>
        學制 : #{classTableQueryParameters.program} <br/>
        班級 : #{classTableQueryParameters.classCode} <br/>
        
        <h:link outcome="index">回首頁</h:link>
    </h:body>
    
</html>

