<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>訓練課程 2 - 2019-11-13</title>
    </h:head>
    <h:body>
        <h1>訓練課程 2 - 2019-11-13</h1>
        <h:form>
            學年度 <h:selectOneMenu>
                <f:selectItem itemLabel="107" itemValue="107"  />
                <f:selectItem itemLabel="108" itemValue="108" />
            </h:selectOneMenu>

            老師 <h:selectOneMenu>
                <f:selectItems value="#{teacherFacade.allTeachers}" />
            </h:selectOneMenu>

            老師2:
            <h:selectOneMenu>
                <f:selectItems value="#{classrooms.rooms}" />
            </h:selectOneMenu>
        </h:form>

    </h:body>
</html>

