<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
<!--   
    ToDo 1:      
    在樣版的 contentArea 顯示以下內容:
                <h3>Email List</h3>
                <ul>
                    <li>spider-man@gmail.com</li>
                    <li>caption-marvel@gmail.com</li>
                    <li>hulk@gmail.com</li>
                </ul> 
-->
           
           
                <!-- 
                    ToDo 2:
                    在樣版的 navbar_script 區域加入以下內容
                    <script>
                    $(".nav").find(".active").removeClass("active");
                    $(".nav #emailItem").addClass("active");
                </script> -->
          
      
    </h:body>
</html>

