<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Template Client</title>
    </h:head>
    <h:body>

    <!-- 
        ToDo 1:
        在樣版的 contentArea 顯示以下內容:
         使用樣版 <code>/templates/masterLayout.xhtml</code> 建立的網頁.

         ToDo 2:
        這行的內容使用 <code>/templates/addTitle.xhtml</code> composition block 來裝飾。
        Composition block 的 title 參數要設定為 "內容標題"
     -->

      <!-- 
          ToDo 3:
                    在樣版的 navbar_script 區域加入以下內容
                    <script>
                    $(".nav").find(".active").removeClass("active");
                    
                 </script> -->
    </h:body>
</html>

