/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2020, 10:24:13 PM
    Author     : hychen39@gm.cyut.edu.tw
*/

div {
  border: 0.05px black solid;
  background-color: rgba(86,61,124,.15);
}

body {
    padding-top: 2em;
}

.container {
    border-width: 1px;
    border-color:  rgba(86,61,124, 0.9);
}