<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Upload a file to server side</title>
    </h:head>
    <h1>Upload a file to server side and convert it to base64 format</h1>

    <h:body>
        <h2>File upload with html tag</h2>
        <h:form enctype="multipart/form-data">
            <h:panelGrid columns="2">
                <h:outputLabel for="selectFile">Choose a file</h:outputLabel>
                <h:inputFile id="selectFile" value="#{uploadBean.uploadPart}"/>
                <h:commandButton value="Upload" action="#{uploadBean.uploadAction}"/>
            </h:panelGrid>
        </h:form>

        <h2>File upload with html tag and Ajax</h2>
        <h:form enctype="multipart/form-data">
            <h:panelGrid columns="2">
                <h:outputLabel>Field 1 </h:outputLabel>
                <h:inputText value="#"></h:inputText>
                <h:outputLabel for="selectFile">Choose a file</h:outputLabel>
                <h:inputFile id="selectFile" value="#{uploadBean.uploadPart}">
                    <f:ajax event="valueChange" execute="@this" render=":display"
                            listener="#{uploadBean.handleFileUploadAjaxListener}"/>
                </h:inputFile>
                <h:commandButton value="Upload" action="#{uploadBean.uploadAction}"/>
            </h:panelGrid>
        </h:form>
        
        <h2>File upload with PrimeFaces</h2>

        <h:form enctype="multipart/form-data">
            <p:fileUpload listener="#{uploadBean.handleFileUpload}" 
                          auto="auto" update="display" skinSimple="true" />
        </h:form>

        <h2>Uploaded Photo</h2>
        <p>Filename: #{uploadBean.filename}</p>
        <!--passthrough element; HTML tag friendly-->
        <img jsf:id="display" src="#{uploadBean.base64Photo}" />
        <br />



    </h:body>
</html>

