<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>訓練課程 4 提交表單資料後執行查詢，並顯示查詢結果</title>
    </h:head>
    <h:body>
        <h1>訓練課程 4 </h1>
        <a href="https://hackmd.io/@hV1L1a_XTkuG4wgi6OH3lw/BkqQxM93r"> 訓練課程 4 教學文件</a>
        <h:form>

            <p>
                教室 <h:selectOneMenu value="#{classTableQueryParameters.classRoom}">
                    <f:selectItem itemLabel="M-514" itemValue="M-514" />
                    <f:selectItem itemLabel="M-515" itemValue="M-515" />
                    <f:selectItem itemLabel="M-516" itemValue="M-516" />
                </h:selectOneMenu>
            </p>
            <h:commandButton value="查詢" action="#{classTableQueryParameters.execQuery}" />
        </h:form>
        <h2>查詢結果</h2>
        <p>
            <table>
            <ui:repeat value="#{classTableQueryParameters.queryResults}" 
                       var="course">
                <tr>
                    <td>#{course.id}</td>
                    <td>#{course.name}</td>
                    <td>#{course.teacher}</td>
                    <td>#{course.sessions}</td>
                    <td>#{course.classID}</td>
                    <td>#{course.weekday}</td>
                    <td>#{course.sessions}</td>
                </tr>
            </ui:repeat>
            </table>
        </p>
    </h:body>
</html>

