/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2020, 12:41:44 PM
    Author     : hychen39@gm.cyut.edu.tw
*/

div.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px gray solid;
}
