<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h3>
        <h:outputText value="#{title}"/>
    </h3>
    Composition Block 
    <ui:insert name="contentArea"/>
</ui:composition>