<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>訓練課程 3 提交表單資料及頁面轉跳</title>
    </h:head>
    <h:body>
        <h1>訓練課程 3 提交表單資料及頁面轉跳</h1>
        <a href="https://hackmd.io/PEjYb7HXTmeKfYn3JZ3NlQ"> 訓練課程 3 教學文件</a>
        <h:form>
            學年度 <h:selectOneMenu value="#{classTableQueryParameters.schoolYear}">
                <f:selectItem itemLabel="107" itemValue="107"  />
                <f:selectItem itemLabel="108" itemValue="108" />
            </h:selectOneMenu>

            學制 <h:selectOneMenu value="#{classTableQueryParameters.program}">
                <f:selectItem itemLabel="大學部" itemValue="under" />
                <f:selectItem itemLabel="研究所" itemValue="graduate" />
            </h:selectOneMenu>
            <h:commandButton value="查詢" action="#{classTableQueryParameters.execQuery}" />

            <p>
               
                學制 <h:selectOneMenu value="#{classTableQueryParameters.program}"
                                    onchange="submit();"
                                    immediate="true">
                        <f:selectItem itemLabel="大學部" itemValue="under" />
                        <f:selectItem itemLabel="研究所" itemValue="graduate" />
                    </h:selectOneMenu>
               
                班級 <h:selectOneMenu value="#{classTableQueryParameters.classCode}">
                    <f:selectItems value="#{classTableQueryParameters.findClasses()}"/>
                </h:selectOneMenu>
                #{classTableQueryParameters.classCode}

            </p>

        </h:form>
    </h:body>
</html>

