<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>t08, t09</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">            
        </link>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <h:outputStylesheet library="css" name="grid.css" />
    </h:head>
    <h:body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    Row 1, Column 1
                </div>
                <div class="col-6">
                    Row 1, Column 2
                    <div class="row">
                        <div class="col-6">
                            Row 1, Column 1 in column 2
                        </div>
                        <div class="col-6">
                            Row 1, Column 2 in column 2
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    4/12 width for all breakpoints
                </div>
                <div class="col-6">
                    6/12 width for all breakpoints
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    4/12 width when lg
                </div>
                <div class="col-lg-6">
                    6/12 width when lg
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8">.col-12 .col-md-8</div>
                <div class="col-12 col-md-6">.col .col-md-6</div>
                <div class="col-12 col-md-6">.col .col-md-6</div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Books in the repository </p>
                    <ul>
                        <ui:repeat value="${bookRepository.findAll()}" var="book">
                            <li> #{book.bookName} </li>
                        </ui:repeat>
                    </ul>
                </div>
            </div>
        </div>


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- bootstrap  -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </h:body>
</html>

