<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>訓練課程 5 顯示週課表</title>
    </h:head>
    <h:body>
        <h1>訓練課程 5 顯示週課表 </h1>
        <a href="https://hackmd.io/xsdxFtfHQAic5A01X1niyw"> 訓練課程 5 教學文件</a>

        <h2>週課表</h2>
        <p>
            <table>
                <tr>
                    <th>節次</th>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                    <th>日</th>
                </tr>
                <!--使用兩層的 ui:repeat 來顯示週一到週五的每一堂課-->
                <ui:repeat var="classSession" value="#{weekClassTableBean.session}">
                <tr>
                    <td>#{classSession}</td>
                    <ui:repeat value="#{weekClassTableBean.weekDday}" var="wkday" >
                        <td>
                            #{weekClassTableBean.findCourse(classSession, wkday)}
                        </td>
                    </ui:repeat>
                </tr>
            </ui:repeat>
            </table>
        </p>
    </h:body>
</html>

